@import url(./util/_font.scss);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-family: "public-sans", sans-serif;
    position: relative;
    font-size: 1.7rem;
    background-color: var(--blog-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header,
main,
footer {
    overflow: hidden;
    max-width: 144rem;
    width: 100%;
}
:root {
    // ### Primary

    --blue-accent: hsl(233, 26%, 24%);
    --blue-accent-light: hsla(233, 26%, 24%, 0.9);
    --green-accent: hsl(136, 64%, 51%);
    --cyan-accent: hsl(192, 69%, 51%);

    // ### Neutral

    --hero-bg: hsl(233, 8%, 62%);
    --blog-bg: hsl(220, 16%, 96%);
    --text-grey: hsl(0, 0%, 98%);
    --white: hsl(0, 100%, 100%);
    --white-light: hsla(0, 0%, 100%, 0.6);
}
header {
    position: sticky;
    background-color: var(--white);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
}
.fit {
    width: fit-content;
}
.blog img {
    width: 100%;
}
.nav {
    display: none;
}
header,
.home,
.blog {
    background-color: var(--white);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 144rem;
    padding: 3rem 3rem;
}

.gradient {
    display: none;
    height: 100vh;
    position: fixed;
    z-index: 80;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
        to bottom,
        var(--blue-accent-light) 0%,
        var(--blue-accent-light) 10%,
        var(--white-light) 100%
    );
}
.block {
    display: block;
}
.hamburger__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
    top: 11rem;
    left: 50%;
    border: 1rem;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    width: 90%;
    position: fixed;
    z-index: 90;
    background-color: var(--white);
    max-width: 40rem;
}
.menu {
    display: flex;
}
.hamburger__menu a {
    text-decoration: none;
    color: var(--blue-accent);
    font-size: 1.8rem;
    font-weight: lighter;
}
.hamburger img {
    max-width: 3rem;
}
.hamburger {
    cursor: pointer;
}
.home::before {
    width: 100%;
    height: 35rem;
    background-image: url(../images/bg-intro-mobile.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    content: "";
    margin-bottom: 6rem;
    max-width: 50rem;
}
.home::after {
    width: 100%;
    height: 30rem;
    border: 2pc solid yellow;
    display: block;
}
.home,
.about {
    position: relative;
    text-align: center;
    margin-bottom: 12rem;
    transition: 1s ease-in-out;
}
h1 {
    font-size: 4rem;
    line-height: 1.2em;
    color: var(--blue-accent);
    margin-bottom: 2rem;
    max-width: 36rem;
    font-weight: lighter;
}
.flex {
    width: 37rem;
    color: var(--hero-bg);
    margin-bottom: 3rem;
}
button {
    border: none;
    background: linear-gradient(var(--green-accent), var(--cyan-accent));
    color: var(--white);
    padding: 2rem 3rem;
    border-radius: 4rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    transition: 1s ease-in-out;
}
.home div:has(h1) {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home button {
    margin-bottom: 4rem;
}
.h2 {
    font-size: 3.5rem;
    width: 24rem;
    font-weight: lighter;
    margin-bottom: 2rem;
    text-align: center;
}
.about div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}
.card {
    gap: 3.5rem;
}
.card h2 {
    font-weight: lighter;
    margin-bottom: 2.5rem;
}
.about {
    margin-bottom: 0;
}
.blog {
    background-color: var(--white);
}
.blog .h2 {
    margin: 6rem auto 6rem auto;
    padding-top: 6rem;
    font-weight: lighter;
}
.space {
    position: absolute;
    bottom: 0;
}
.card {
    width: 95%;
    max-width: 40rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.desc {
    padding: 3rem 2.5rem 4rem 2.5rem;
}
.small,
.desc p {
    color: var(--hero-bg);
    margin-bottom: 2rem;
}
.desc h3 {
    margin-bottom: 1rem;
    transition: 1s ease-in-out;
    font-weight: bold;
    cursor: pointer;
    color: var(--blue-accent);
}
.desc h3:active,
.desc h3:hover {
    color: var(--green-accent);
}
.small {
    font-size: 1.4rem;
    font-weight: bold;
}
button:active,
button:hover {
    filter: brightness(1.1);
}
footer {
    background-color: var(--blue-accent);
    padding-top: 6rem;
}
.odd__box,
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.socials {
    gap: 1.5rem;
    margin-bottom: 4rem;
    display: flex;
}
.odd {
    width: 21rem;
    margin-bottom: 4rem;
}
.socials img {
    width: 3.2rem;
    cursor: pointer;
}
.odd__box a {
    text-decoration: none;
    color: var(--text-grey);
    font-weight: lighter;
    margin-bottom: 1.5rem;
    transition: 1s ease-in-out;
    font-size: 1.8rem;
}
.odd__box a:hover,
.odd__box a:active {
    color: var(--green-accent);
}
.odd__box:has(button) {
    margin-top: 3rem;
    margin-bottom: 8rem;
    color: var(--hero-bg);
}
.odd__box:has(button) button {
    padding: 2rem 4rem;
    margin-bottom: 3rem;
}
.attribution {
    font-size: 1.6rem;
    font-weight: bold;
    justify-self: center;
    width: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
    color: var(--white);
}
.attribution a {
    text-decoration: none;
    transition: 1s ease-in-out;
    color: var(--cyan-accent);
}
.attribution a:hover,
.attribution a:active {
    color: var(--green-accent);
}
.mockup {
    width: 100%;
    max-width: 40rem;
    position: absolute;
    top: -14rem;
    right: 0;
}
@media (min-width: 600px) {
    .home::before {
        transform: translateX(20rem);
        max-width: 55rem;
        background-image: url(../images/bg-intro-desktop.svg);
    }
    .mockup {
        top: -8rem;
        right: -6.5rem;
    }
    .hamburger {
        display: none;
    }
    .nav {
        display: flex;
        align-items: center;
        gap: 3rem;
        padding-bottom: 0;
    }
    .nav button {
        display: none;
    }
    .nav {
        transform: translateY(1.5rem);
    }
    header {
        max-height: 10rem;
        overflow: hidden;
    }
    .nav a {
        text-decoration: none;
        transition: 0.5s ease-in-out;
        color: var(--hero-bg);
        height: 5.5rem;
        border-bottom: 0.4rem solid transparent;
    }
    .nav a:active,
    .nav a:hover {
        color: var(--blue-accent);
        border-bottom: 0.4rem solid var(--green-accent);
    }
}
@media (min-width: 1440px) {
    .nav button {
        display: block;
        padding: 2rem 4rem;
        margin: 0 8rem 0 18rem;

        transform: translateY(-2.6rem);
    }
    .logo {
        margin-left: 8rem;
    }
    .home {
        height: 45rem;
    }
    .mockup {
        max-width: 50rem;
    }
    .home::before {
        transform: translateX(calc(80rem));
        max-width: 80rem;
        margin-bottom: 0;
        background-position: 1rem -16rem;
        height: 45rem;
    }
    .home div:has(h1) {
        position: absolute;
        top: 10rem;
        left: 8rem;
        text-align: left;
    }
    .home button {
        position: absolute;
        left: 8rem;
        border: none;
        outline: none;
        transform: translateY(-15rem);
    }
    .about {
        padding: 0 8rem;
    }
    .about div {
        align-items: flex-start;
        margin-bottom: 4rem;
    }
    .h2 {
        text-align: left;
        width: 100%;
    }
    .about div .flex {
        width: 70rem;
        text-align: left;
    }
    .container {
        flex-direction: row;
        justify-content: flex-start;
        gap: 3rem;
    }
    .about .container .card div .flex {
        width: 100%;
    }
    .blog {
        padding: 6rem 8rem 0 8rem;
    }
    .blog img {
        height: 24rem;
    }
    .set {
        transform: translateY(-1rem);
    }
    footer {
        padding: 0 8rem;
        justify-content: space-between;
        flex-direction: row;
    }
    .even {
        align-items: flex-start;
    }
    .eve {
        align-items: flex-end;
    }
    .nav a:hover {
        color: var(--blue-accent);
        border-bottom: 0.8rem solid var(--green-accent);
    }
    .attribution {
        position: absolute;
        bottom: 0;
        margin-bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
